<!DOCTYPE HTML>
<html lang="en">
<head>
  {% block title %}{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
 <div class="header">
  <img class="logo" src="/static/images/MWSUlogo.png">
  <h1>Curriculum</h1>
 </div>
  <div class="container-fluid">
    <div class="row">
      <div class="a">
        <ul class="sidebar-nav">
          <li><b><a href={{ url('') }}>Home</a></b></li>
	  <!-- <li><b><a href={{ url('acmcs') }}>ACM CS Standards</a></b></li>  /-->
          <li><b><a href={{ url('persemester') }}>Offered Per Semester</a></b></li>
          <li><b><a href={{ url('courselist') }}>Course List</a></b></li>
          <li><b><a href={{ url('schedulelist') }}>Schedule List</a></b></li>
          <li><b><a href={{ url('assignmentlist') }}>Assignment Per Semester</a></b></li>
        </ul>
      </div>
      <div class="col-sm-10" style="margin-left:15%">{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>
</html>
