{% extends "base.jinja" %}
   {% block title %}
     <title>Teaching Schedule</title>
   {% endblock %}
     {% block content %}

     <h1> Teaching Schedule </h1>
    
     <svg height="900" width="625">
     {% for day in daypos %}
         <line x1="{{daypos[day]*100}}" y1="0" x2="{{daypos[day]*100}}" y2="900" style="stroke:rgb(0,0,0);stroke-width:2"/>
         <text x="{{daypos[day]*100+5}}" y="15"> {{day}} </text>
     {% endfor %}
     {% for pos in range(1,16) %}
         <line x1="0" y1="{{pos*60}}" x2="800" y2="{{pos*60}}" style="stroke:rgb(0,0,0);stroke-width:2"/>
         <text x="5" y="{{pos*60-5}}"> {{((pos+6)%12+1)}}:00 </text>
     {% endfor %}
     {% for section in sections %}
      {% for day in section.days %}
         <rect x="{{daypos[day]*100}}" y="{{section.startPos}}" width="100" height="{{section.duration()}}" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
         <text x="{{daypos[day]*100+10}}" y="{{section.startPos+25}}">
           {{section.course.subject}}{{section.course.number}}-{{section.section}}
         </text>
      {% endfor %}
     {% endfor %}
     </svg>
     <hr/>
     <table class="table" style="margin-bottom: 30px" border="1">
      <tr bgcolor="#9acd32">
          <th>Instructor</th>
          <th>Course</th>
          <th>Section</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Days</th>
          <th>Building</th>
          <th>Max</th>
      </tr>
        {% for section in sections %}
                <tr>
                    <td>{{ section.instructorId }}</td>
                    <td>{{ section.course.subject }}{{section.course.number}}</td>
                    <td>{{ section.section}}</td>
                    <td>{{ section.startTime }}</td>
                    <td>{{ section.endTime }}</td>
                    <td>
                    {% for day in section.days %}
                        {{ day }}
                     {% endfor %}
                    </td>
                    <td>{{section.building}}{{section.room}}</td>
                    <td>{{section.maxEnrollment}}</td>
                </tr>
        {% endfor %}
    </table>

     {% endblock %}
