{% extends "base.jinja" %}
   {% block title %}
     <title>Teaching Schedule</title>
   {% endblock %}
     {% block content %}

     <h1> Teaching Schedule </h1>
     <table class="table" style="margin-bottom: 30px" border="1">
      <tr bgcolor="#9acd32">
          <th>Instructor</th>
          <th>Course</th>
          <th>Section</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Days</th>
          <th>Building</th>
          <th>Max</th>
      </tr>
        {% for section in sections %}
                <tr>
                    <td>{{ section.instructorId }}</td>
                    <td>{{ section.course.subject }}{{section.course.number}}</td>
                    <td>{{ section.section}}</td>
                    <td>{{ section.startTime }}</td>
                    <td>{{ section.endTime }}</td>
                    <td>
                    {% for day in section.days %}
                        {{ day }}
                     {% endfor %}
                    </td>
                    <td>{{section.building}}{{section.room}}</td>
                    <td>{{section.maxEnrollment}}</td>
                </tr>
        {% endfor %}
    </table>

     {% endblock %}
