{%  extends "polls/base.jinja" %}
   {% block title %}
     <title>Course List</title>
   {% endblock %}
     {% block content %}
        <h1> Course List </h1>
        <ul>
        {% for course in courses %}
            <li><b><a href={{ course.course }}>{{ course.course }}</a>{{ " " }}{{ course.title }}</b></li>
        {% endfor %}
        </ul>
     {% endblock %}
