{%  extends "base.jinja" %}
{% macro topics(ka) %}
        <ol> {% for topic in ka.topics %}
             <li><b>{{ topic.text }}</b><br/>
               Coverage: {{ topic.coverage() }} 
               {% if topic.topics %}
               {{ topics(topic) }}
               {% endif %}
             </li>
             {% endfor %}
        </ol>
{% endmacro %}
{% macro knowledge_area(ka, parent) %}
  <li><h2>{{ parent }}{{ka.id}}:  {{ka.name}} </h2>
        {% if ka.kas %}
        <h3>Sub knowledge areas</h3>
        <ul> {% for ska in ka.kas %}
               {{ knowledge_area(ka.kas[ska], parent+ka.id+'/') }}
             {% endfor %}
        </ul>
        {% endif %}

        {% if ka.topics %}
          <h3>Topics</h3>
          Coverage: {{ ka.topic_coverage() }}
          {{ topics(ka) }}
        {% endif %}

        {% if ka.outcomes %}
        <h3>Learning Outcomes</h3>
        Coverage: {{ ka.outcome_coverage() }}
        <ol> {% for outcome in ka.outcomes %}
             <li>{{ outcome.text }}<ul>
               {% for syllabus in outcome.covered_by %}
               <li><a href="/catalog/{{ay}}/{{syllabus[0]}}{{syllabus[1]}}#{{syllabus[2]}}">
                  {{syllabus[0]}}{{syllabus[1]}} #{{syllabus[2]}}</a></li>
               {% endfor %}
             </ul></li>
             {% endfor %}
        </ol>
        {% endif %}
  </li>
{% endmacro %}

   {% block title %}
     <title>Curriculum Standards</title>
   {% endblock %}
     {% block content %}
        <h1> {{standard.name}} </h1>
        <h2>Body</h2> {{ standard.body}}
        <h2>Version</h2> {{ standard.version }}
	<h2>Outcome Coverage</h2> {{ standard.outcome_coverage()}}
        <h2>Topic Coverage</h2> {{ standard.topic_coverage()}}

        <h3>Knowledge Areas</h3>
        <ul> {% for ka in standard.kas %}
               {{ knowledge_area(standard.kas[ka], '') }}
             {% endfor %}
        </ul>
     {% endblock %}
