{%  extends "base.jinja" %}
{% macro topics(ka) %}
        <ol> {% for topic in ka.topics %}
             <li><b>{{ topic.text }}</b><br/>
               Coverage: <span class="{{'covered' if topic.coverage() == 1.0 else 'partially_covered' if topic.coverage() > 0.5 else 'not_covered'}}">
          {{ (10000*topic.coverage() + 0.5) // 1 / 100 }}%
               <ul>
               {% for syllabus in topic.covered_by %}
               <li><a href="/catalog/{{ay}}/{{syllabus[0]}}{{syllabus[1]}}#{{syllabus[2]}}">
                  {{syllabus[0]}}{{syllabus[1]}} #{{syllabus[2]}}</a></li>
               {% endfor %}
               </ul>

               {% if topic.topics %}
               {{ topics(topic) }}
               {% endif %}
             </li>
             {% endfor %}
        </ol>
{% endmacro %}
{% macro knowledge_area(ka, parent) %}
  <li><h2>{{ parent }}{{ka.id}}:  {{ka.name}} </h2>
        {% if ka.kas %}
        <h3>Sub knowledge areas</h3>
        <ul> {% for ska in ka.kas %}
               {{ knowledge_area(ka.kas[ska], parent+ka.id+'/') }}
             {% endfor %}
        </ul>
        {% endif %}

        {% if ka.topics %}
          <h3>Topics</h3>
          Coverage: <span class="{{'covered' if ka.topic_coverage() == 1.0 else 'partially_covered' if ka.topic_coverage() > 0.5 else 'not_covered'}}">
          {{ (10000*ka.topic_coverage() + 0.5) // 1 / 100 }}%
        </span>
          {{ topics(ka) }}
        {% endif %}

        {% if ka.outcomes %}
        <h3>Learning Outcomes</h3>
        Coverage: <span class="{{'covered' if ka.outcome_coverage() == 1.0 else 'partially_covered' if ka.outcome_coverage() > 0.5 else 'not_covered'}}">
          {{ (10000*ka.outcome_coverage() + 0.5) // 1 / 100 }}%
        </span>
        <ol> {% for outcome in ka.outcomes %}
             <li class="{{'covered' if outcome.covered_by else 'not_covered'}}">{{ outcome.text }}<ul>
               {% for syllabus in outcome.covered_by %}
               <li><a href="/catalog/{{ay}}/{{syllabus[0]}}{{syllabus[1]}}#{{syllabus[2]}}">
                  {{syllabus[0]}}{{syllabus[1]}} #{{syllabus[2]}}</a></li>
               {% endfor %}
             </ul>
             </li>
             {% endfor %}
        </ol>
        {% endif %}
  </li>
{% endmacro %}

   {% block title %}
     <title>Curriculum Standards</title>
   {% endblock %}
     {% block content %}
        <h1> {{standard.name}} </h1>
        <h2>Body</h2> {{ standard.body}}
        <h2>Version</h2> {{ standard.version }}

        {% if program %}
        <h2>Program</h2> <a href="/program/{{ay}}/{{program.name}}">{{program.name}}</a>
        {% else %}
        <h2>Limit coverages to program:</h2>
        <ul>
        {% for program_id in programs %}
          <li><a href="/standard/{{ay}}/{{standard.id}}/{{program_id}}"">{{program_id}}</a></li>
        {% endfor %}
        </ul>
        {% endif %}

	<h2>Outcome Coverage</h2> <span class="{{'covered' if standard.outcome_coverage() == 1.0 else 'partially_covered' if standard.outcome_coverage() > 0.5 else 'not_covered'}}">
          {{ (10000*standard.outcome_coverage() + 0.5) // 1 / 100 }}%
        <h2>Topic Coverage</h2> <span class="{{'covered' if standard.topic_coverage() == 1.0 else 'partially_covered' if standard.topic_coverage() > 0.5 else 'not_covered'}}">
          {{ (10000*standard.topic_coverage() + 0.5) // 1 / 100 }}%

        <h3>Knowledge Areas</h3>
        <ul> {% for ka in standard.kas %}
               {{ knowledge_area(standard.kas[ka], '') }}
             {% endfor %}
        </ul>
     {% endblock %}
