{%  extends "base.jinja" %}
   {% block title %}
     <title>Programs</title>
   {% endblock %}
     {% block content %}
        <h1> Programs </h1>
        <ul>
        {% for program in programs %}
            <li><b><a href="/program/{{ay}}/{{program}}">{{ programs[program].name}}</a></b></li>
        {% endfor %}
        </ul>
     {% endblock %}
