{% extends "base.jinja" %}
   {% block title %}
     <title>Teaching Schedule</title>
   {% endblock %}
     {% block content %}

     <h1> Teaching Schedule </h1>
    
     <svg height="900" width="900">
     {% for day in daypos %}
         <line x1="{{daypos[day]*75 + 50}}" y1="0" 
               x2="{{daypos[day]*75 + 50}}" y2="900" style="stroke:black;stroke-width:2"/>
         <text x="{{daypos[day]*75+60}}" y="15"> {{day}} </text>
     {% endfor %}
     {% for pos in range(1,16) %}
         <line x1="0" y1="{{pos*60}}" x2="900" y2="{{pos*60}}" style="stroke:black;stroke-width:2"/>
         <text x="5" y="{{pos*60-5}}"> {{((pos+6)%12+1)}}:00 </text>
     {% endfor %}
     {% for section in sections %}
      {% for day in section.days %}
         <rect x="{{daypos[day]*75+50 + 75*section.position}}" y="{{section.startPos}}" width="75" height="{{section.duration()}}" style="fill:{{instructor_color[section.instructorId]}};stroke-width:3;stroke:black" />
         <text x="{{daypos[day]*75+60 + 75*section.position}}" y="{{section.startPos+25}}">
           {{section.course.subject}}{{section.course.number}}
         </text>
         <text x="{{daypos[day]*75+60 + 75*section.position}}" y="{{section.startPos+40}}">
           Sec. {{section.section}}
         </text>
      {% endfor %}
     {% endfor %}
     </svg>
     <hr/>
     <table class="table" style="margin-bottom: 30px" border="1">
      <tr bgcolor="#9acd32">
          <th>Instructor Name</th>
          <th>Instructor ID</th>
          <th>Course</th>
          <th>Section</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Days</th>
          <th>Building</th>
          <th>Max Enrollment</th>
      </tr>
        {% for section in sections %}
                <tr>
                    <td style="background-color:{{instructor_color[section.instructorId]}}">{{ section.instructorId if section.instructorId else 'STAFF' }}</td>
                    <td style="background-color:{{instructor_color[section.instructorId]}}">{{ roster[section.instructorId] if section.instructorId else 'To Be Determined'}}</td>
                    <td>{{ section.course.subject }}{{section.course.number}}</td>
                    <td>{{ section.section}}</td>
                  {% if section.startTime %}
                    <td>{{ section.startTime }}</td>
                    <td>{{ section.endTime }}</td>
                    <td>
                    {% for day in section.days %}
                        {{ day }}
                    {% endfor %}
                    </td>
                  {% else %}
                    <td colspan=3><center>arranged / online</center></td>
                  {% endif%}
                  {% if section.building and section.room %}
                    <td>{{section.building}}{{section.room}}</td>
                  {% else %}
                    <td>none</td>
                  {% endif%}
                    <td>{{section.maxEnrollment}}</td>
                </tr>
        {% endfor %}
    </table>

     <h2> Alerts</h2>
     <ul>
     {% for alert in alerts %}
       <li>{{ alert }}</li>
     {% endfor %}
     </ul>
     {% endblock %}
